{% with about_section as section %}
{% if section %}
        <div data-dce-background-color="#005F6B" class="elementor-element elementor-element-c2981f0 e-con-full e-flex e-con e-parent" data-id="c2981f0" data-element_type="container" id="aboutus" data-settings="{&quot;background_background&quot;:&quot;classic&quot;,&quot;_ha_eqh_enable&quot;:false}">
            <div class="elementor-element elementor-element-e1d4498 e-con-full e-flex e-con e-child" data-id="e1d4498" data-element_type="container" data-settings="{&quot;_ha_eqh_enable&quot;:false}">
                <div class="elementor-element elementor-element-dda561d elementor-widget elementor-widget-heading" data-id="dda561d" data-element_type="widget" data-widget_type="heading.default">
                    <div class="elementor-widget-container" style="color:#fff;">
                        <h2 class="elementor-heading-title elementor-size-default" style="color:#fff;">{{ section.about_title|default:"About Us" }}</h2>
                    </div>
                </div>
                <div class="elementor-element elementor-element-4a2fbfa elementor-widget elementor-widget-text-editor" data-id="4a2fbfa" data-element_type="widget" data-widget_type="text-editor.default">
                    <div class="elementor-widget-container" style="color:#fff;">
                        {% if section.about_body %}
                        <div class="prose max-w-none" style="color:#fff;">{{ section.about_body|safe }}</div>
                        {% else %}
                        <p class="vc_custom_heading vc_do_custom_heading" style="color:#fff;">At L+C Psychological Services, we seek to provide an environment that is supportive and allows you to feel connected emotionally.</p>
                        <p style="color:#fff;">We know that connections in life are what power our relationships in all aspects of our lives. Our hope is that you will experience these positive connections with our clinicians and gain the skills needed to improve all other connections in your life.</p>
                        <p style="color:#fff;">L+C Psychological Services is proud to serve our clients providing psychological evaluation and therapy in Northern Kentucky and online therapy in Kentucky to adults, adolescents, and children. L+C Psychological Services was born from the vision of Dr. Kirk Little and Dr. Suzanne Collins following their work together for over a decade at Little Psychological Services.</p>
                        {% endif %}
                    </div>
                </div>
            </div>
            <div class="elementor-element elementor-element-1c24f9c e-con-full e-flex e-con e-child" data-id="1c24f9c" data-element_type="container" data-settings="{&quot;_ha_eqh_enable&quot;:false}">
                <div class="elementor-element elementor-element-0ba8160 elementor-widget elementor-widget-heading" data-id="0ba8160" data-element_type="widget" data-widget_type="heading.default">
                    <div class="elementor-widget-container" style="color:#fff;">
                        <h2 class="elementor-heading-title elementor-size-default" style="color:#fff;">{{ section.mission_title|default:"Our Mission" }}</h2>
                    </div>
                </div>
                <div class="elementor-element elementor-element-c9e135b elementor-widget elementor-widget-text-editor" data-id="c9e135b" data-element_type="widget" data-widget_type="text-editor.default">
                    <div class="elementor-widget-container" style="color:#fff;">
                        {% if section.mission_body %}
                        <div class="prose max-w-none" style="color:#fff;">{{ section.mission_body|safe }}</div>
                        {% else %}
                        <p style="color:#fff;">Our mission at L+C Psychological Services is to provide a comfortable and safe environment for those who need to reconnect in their lives. We are dedicated psychologists and therapists providing guidance and support to clients seeking to heal and grow. We believe that we are able to connect with our clients to help them to be their best selves.</p>
                        {% endif %}
                    </div>
                </div>
                <div class="elementor-element elementor-element-03ebe08 elementor-align-center elementor-widget elementor-widget-button" data-id="03ebe08" data-element_type="widget" data-widget_type="button.default">
                    <div class="elementor-widget-container">
                        {% if section.cta_url %}
                            <div class="elementor-button-wrapper">
                                <a class="elementor-button elementor-button-link elementor-size-sm" href="{{ section.cta_url }}" target="_blank" rel="noopener">
                                    <span class="elementor-button-content-wrapper">
                                        <span class="elementor-button-text">{{ section.cta_label|default:"Schedule Your First Appointment Today" }}</span>
                                    </span>
                                </a>
                            </div>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
{% endif %}
{% endwith %}