{% with inspirational_quote as quote %}
        <div data-dce-background-color="#005F6B" class="elementor-element elementor-element-48aaeb4 e-con-full e-flex e-con e-parent" data-id="48aaeb4" data-element_type="container" data-settings="{&quot;background_background&quot;:&quot;classic&quot;,&quot;_ha_eqh_enable&quot;:false}">
            <div class="elementor-element elementor-element-aec66b2 e-flex e-con-boxed e-con e-child" data-id="aec66b2" data-element_type="container" data-settings="{&quot;_ha_eqh_enable&quot;:false}">
                <div class="e-con-inner">
                    <div class="elementor-element elementor-element-b8c8b0c elementor-blockquote--skin-border elementor-blockquote--button-color-official elementor-widget elementor-widget-blockquote" data-id="b8c8b0c" data-element_type="widget" data-widget_type="blockquote.default">
                        <div class="elementor-widget-container">
                            <blockquote class="elementor-blockquote">
                                <p class="elementor-blockquote__content">
                                {{ quote.quote|default:"Say yes. Whatever it is, say yes with your whole heart & simple as it sounds, that's all the excuse life needs to grab you by the hands & start to dance." }}			</p>
                                <div class="e-q-footer">
                                    <cite class="elementor-blockquote__author">-{{ quote.author|default:"Brian Andreas" }}-</cite>
                                </div>
                            </blockquote>
                        </div>
                    </div>
                </div>
            </div>
        </div>
{% endwith %}