{% extends "base.html" %}

{% block title %}Home | L+C Psych{% endblock %}

{% block content %}
    <div data-elementor-type="wp-page" data-elementor-id="1393" class="elementor elementor-1393" data-elementor-post-type="page">
        {% include 'partials/hero.html' %}
        {% include 'partials/therapists.html' %}
        {% include 'partials/aboutUs_home.html' %}
        {% include 'partials/services.html'%}
        {% include 'partials/inspirationalQuote.html' %}
        {% include 'partials/whatWeDo.html' %}
        {% include 'partials/ourPhilosophy.html' %}
        {% include 'partials/faq_home.html' %}
        {% include 'partials/companyQuote.html' %}
        {% include 'partials/payment_home.html'%}
        {% include 'partials/contact_home.html' %}
    </div>
{% endblock %}

